---
BasedOnStyle: LLVM

AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
PackConstructorInitializers: NextLine
SortUsingDeclarations: Never
